
We want to build a tool which will help us automate all the SOC related activities at one place without navigating multiple URLs.
Lets try to list down the usage first:
1. for Normal Security incident investigation.
2. for phishing email analysis.
3. for brand monitoring and reputation check.

lets try to list down the actions done by team :
1. Reputation check
    IP, Domains, URLs, Hashes
    Virustotal - 3cb220cf0cf505870a3807b154676b59e35d53f49289b3a3f65c71bba4a9d324
    AbuseIPDB - a9858b6d250e5ef3000e5326615e83a823843f7352afe9a4c59d4bb64e515e31fd795e6858c7dc1c
    CISCO Talos Intel - deb52437f7281b0502c53e15c78d4eb9fcd41229
2. DNS Lookup reverse also
    Shodan, DNStable, Spyse - 44801a9c-61b5-41be-a005-7b283bb3e2a1
    URLSCAN.io - 0f2749ad-af19-4cf2-b73a-5e627756ae14
3. IP/ISP details
4. WHOIS Lookup
5. Email reputation
    Email validation, header analysis, phishing email investigation, have I been pwned
6. URL decoding encoding
7. URL Scan for phishing
8. file upload sandboxing
9. Sanitization/masking of IOCs so that same can be sent over email